<div class="field">
    <label for="{{ name }}" class="field_label">
        {{ label }}
    </label>
    <input class="field_input"
        id= "{{ name }}" 
        name="{{ name }}" 
        type="{{ type }}" 
        placeholder="{{ placeholder }}"
    />
</div>