<div class="chatlist-item">
    <div class="chatlist-item_avatar">
        <div class="chatlist-item_avatar_image-wrapper">
            <img src="{{ avatar_src }}" alt="avatar">
        </div>
    </div>
    <div class="chatlist-item_summary">
        <div class="chatlist-item_summary_first-row">
            <div class="chatlist-item_sender-name">{{ sender_name }}</div>
            <div class="chatlist-item_last-date-time">{{ last_date_time }}</div>
        </div>
        <div class="chatlist-item_summary_second-row">
            <div class="chatlist-item_message-slice">{{ message_slice }}</div>
            <div class="chatlist-item_unread-count">{{ unread_count }}</div>
        </div>
    </div>
</div>
