<div class="profile_field">
    <label for="{{ name }}" class="profile_field_label">
        {{ label }}
    </label>
    <input class="profile_field_input {{ name }}"
        id= "{{ name }}" 
        name="{{ name }}" 
        type="{{ type }}" 
        value="{{ value }}"
        readonly
    />
</div>